  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
  <link rel="stylesheet" href="/stylesheets/nav/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-md mb-3 p-1">
    <% if (user) { %>
      <a class="navbar-brand" href="/">Sales Tracker</a>
      <a class="nav-link <%= title === 'My Leads'? "active-page" : "" %>" href="/leads/my-leads-open">My Leads</a>
      <a class="nav-link <%= title === 'Leads'? "active-page" : "" %>" href="/leads">Leads</a>
      <a class="nav-link <%= title === 'New Lead'? "active-page" : "" %>" href="/leads/new">New Lead</a>
      <div class="nav-link right mt-2">
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="small-round-avatar nav-item right mt-2"
        />
        <a href="/auth/logout" class="right nav-item right mt-2">
          <button class="btn btn-sm ms-1 btn-secondary" type="submit">Logout</button>
        </a>
      </div>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
