  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
  <link rel="stylesheet" href="/stylesheets/nav/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light mb-3">
    <% if (user) { %>
      <div class="container-fluid">
        <a class="navbar-brand" href="/leads">Sales Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link disabled <%= title === 'Home'? "active-page" : "" %>" href="/">Home</a>
            <a class="nav-link <%= title === 'Leads'? "active-page" : "" %>" href="/leads">Leads</a>
            <a class="nav-link <%= title === 'New Lead'? "active-page" : "" %>" href="/leads/new">New Lead</a>
          </div>
        </div>
      </div>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
      <a href="/auth/logout" class="right">
        <button class="btn btn-danger" type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
