  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
  <link rel="stylesheet" href="/stylesheets/nav/style.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-primary navbar-expand-md p-1">
    <% if (user) { %>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sales Tracker</a>
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="nav-links-group" class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="nav-item dropdown">
              <a aria-current="<%= title === ('Leads') ? 'page' : '' %>" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                >Leads
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/leads/my-leads-open" >My Leads (open)</a></li>
                <li><a class="dropdown-item" href="/leads/my-leads-closed" >My Leads (closed)</a></li>
                <li><a class="dropdown-item" href="/leads/my-leads" >My Leads (all)</a></li>
                <li><a class="dropdown-item" href="/leads" >Leads (global)</a></li>
              </ul>
            </div>
            <div class="nav-item dropdown">
              <a aria-current="<%= title === ('Leads') ? 'page' : '' %>" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                >Sales
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/leads/my-sales" >My Sales</a></li>
                <li><a class="dropdown-item" href="/leads/sales" >Sales (global)</a></li>
              </ul>
            </div>
            <a 
            aria-current="<%= title === 'New Lead' ? 'page' : '' %>" 
            class="nav-link"
            href="/leads/new"
            >New Lead</a>
          </div>
          <div class="d-flex align-items-center">
            <img
              src="<%= user.profile.avatar %>"
              alt="<%= user.profile.name %> avatar"
              class="small-round-avatar"
            />
            <a href="/auth/logout" class="">
              <button class="btn btn-sm btn-secondary" type="submit">Logout</button>
            </a>
          </div>
        </div>
      </div>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
