<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> Edit - <%= lead.name %> </h1>
  <form action="/leads/<%= lead._id %>?_method=PUT" method="POST">
    <label class="mb-3"> Status 
      <select name="status" class="form-select" aria-label="Lead Status">
        <option value= "<%= lead.status %>" selected> <%= lead.status %> </option>
        <option value="New">New</option>
        <option value="Working">Working</option>
        <option value="Closed">Closed</option>
      </select>
    </label>
    <label class="form-label mb-3">Lead Value ($)
      <input name="value" value="<%= lead.value %>" type="number" min="0" class="form-control" placeholder="Enter Amount" autocomplete="off">
    </label>
    <label class="form-label mb-3">Lead Name
      <input name="name" value="<%= lead.name %>" type="text" class="form-control" placeholder="John Doe" autocomplete="off">
    </label>
    <label class="form-label mb-3">Lead Description
      <textarea name="description" class="form-control" rows="3" placeholder="briefly describe the stated needs for the customer"><%= lead.description %></textarea>
    </label>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>
  
</main>

<%- include('../partials/footer') %>