

<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <h5><%= subtitle %></h5>
  <div class="container container-xl">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">Agent</th>
          <th scope="col">Sales Total</th>
        </tr>
      </thead>
      <tbody>
        <% if (!!sales) { %>
          <% for ( const agent in sales ) { %>
            <tr>
              <td><%= agent %> </td>
              <td>$<%= sales[agent]?.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </td>
            </tr>
          <% } %> 
        <% } else { %>
          <tr>
            <td></td>
            <td colspan="4">No Sales Found</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<%- include('../partials/footer') %>