<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> Lead Details for <%= lead.name  %>  </h1>
  <p>Status:</p>
  <p> <%= lead.status %> </p>
  <p>Owner:</p>
  <p> <%= lead.owner.name %>  </p>
  <p>Description:</p>
  <p> <%= lead.description %>  </p>
  <% if (lead.owner.equals(user?.profile.id)) { %>   
    <!-- the owner may edit the lead -->
    <form action="/leads/<%= lead._id %>/edit" method="GET">
      <button type="submit" class="btn btn-secondary mb-3"> Edit Lead </button>
    </form>
    <!-- the owner may delete the lead -->
    <form action="/leads/<%= lead._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-secondary"> Delete Lead </button>
    </form>
    <% } %>
</main>

<%- include('../partials/footer') %>