<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> Lead Details for <%= lead.name  %>  </h1>

  <p>Owner:</p>
  <p> <%= lead.owner.name %>  </p>
  <p>Description:</p>
  <p> <%= lead.description %>  </p>
  <% if (lead.owner.equals(user?.profile.id)) { %>   
    <form action="/leads/<%= lead._id %>/edit" method="GET">
      <button type="submit" class="btn btn-secondary"> Edit Lead </button>
    </form>
    <% } %>
</main>

<%- include('../partials/footer') %>