<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1 class="mb-3"> <%= title %>  </h1>
  <section id="lead-details" class="container-sm">
    <div class="card mb-3 ">
      <h4 class="card-header">Lead Information</h4>
      <div class="card-body">
        <% if (lead.owner.equals(user?.profile.id)) { %>   
          <div class="d-flex justify-content-start mb-3">
            <form action="/leads/<%= lead._id %>/edit" method="GET">
              <button type="submit" class="btn btn-primary ms-3"> Edit Lead </button>
            </form>
            <form action="/leads/<%= lead._id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger ms-3"> Delete Lead </button>
            </form>
          </div>
        <% } %>
        <h6 class="card-title"> Name </h6>
        <p class="card-text"> <%= lead.name %> </p>
        <h6 class="card-title"> Status </h6>
        <p class="card-text"> <%= lead.status %> </p>
        <h6 class="card-title"> <%= lead.status === "Closed" ? "Sale Value" : "Potential Sale Value" %></h6>
        <p class="card-text"> $ <%= leadValue %> </p>
        <h6 class="card-title"> Assigned Owner </h6>
        <div class="mb-3 d-flex flex-row justify-content-start">
          <img src="<%= lead.owner.avatar %>" alt="" class="small-round-avatar">
          <p class="card-text"> <%= lead.owner.name %> </p>
        </div>
        <h6 class="card-title"> Description </h6>
        <% if (!lead.description) { %>
          <p class="card-text"> no description provided </p>
          <% } else { %>
            <p class="card-text"> <%= lead.description %> </p>
            <% } %>
        <h6 class="card-title"> Lead Created At </h6>
        <p class="card-text"> <%= lead.createdAt.toLocaleString() %> </p>
          </div>
    </div>
  </section>
  <section id="lead-details" class="container-sm">
    <div class="card mb-3 ">
      <h4 class="card-header">Comments (<%= commentsCount%>) </h4>
      <div class="card-body">
          <% lead.comments.forEach(comment => { %>
            <div class="mb-3 d-flex justify-content-start">
              <div>
                <img src="<%= comment.author.avatar %>" alt="" class="large-round-avatar">
              </div>
              <div class="card ">
                <div class="card-body bg-light">
                  <blockquote class="blockquote mb-0 fs-6">
                    <p class=""><%= comment.content %></p>
                    <footer class="blockquote-footer "><%= comment.author.name %> - <%= comment.createdAt.toLocaleString() %> </footer>
                  </blockquote> 
                </div>

                
              </div>
            </div>
          <% }) %>
        <form action="/leads/<%= lead._id %>/comments" method="POST" class="mb-3">
          <textarea name="content" id="" cols="60" rows="3" required></textarea>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-3"> Add Comment </button>
          </div>
        </form>
      </div>
    </div>
  </section>

</main>

<%- include('../partials/footer') %>